.flex{
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-columns: 660px 660px;
  grid-template-rows: 569px;
}

.titulo{
  font-weight: 700;
}

.parrafo{
  font-weight: 400;
  font-size: 12px;
}

.contenedor-1{
  padding: 50px;
}

.contenedor-2{
  padding: 50px;
  display: flex;
}

.boton-try{
  background-color: hsl(248, 32%, 49%);
  color: white;
  font-weight: 400;
  border-radius: 15px;
  margin: 30px;
  padding: 20px 50px 20px 50px;
}

.contenedor-input{
  display: flex;
  border: 1px solid white;
  background: white;
  border-radius: 15px;
}

.input{
  display: inline-block;
  color: black;
  font-weight: 400;
  border-radius: 15px;
  margin: 30px;
  padding: 20px;
}

.boton-claim{
  background-color: hsl(154, 59%, 51%);
  color: white;
  font-weight: 500;
  border-radius: 15px;
  margin: 30px;
  padding: 20px 100px 20px 100px;
}

.footer{
  color: hsl(249, 10%, 26%);
  
}